#texto-1 {
	font-family:'PT Sans Narrow', sans-serif;
	font-size : 35px;
}

#texto-2 {
	font-family:'PT Sans Narrow', sans-serif;
	font-size : 30px;

}

body {
	margin: 0;
	padding: 0;
	font-family:'PT Sans Narrow', sans-serif;
}

#barra-superior {
	background-color: #4C956C;
	height: 95px;
	text-align: center;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 10;
	font-family:'PT Sans Narrow', sans-serif;


}



img {
	margin: 20px;
	text-align: center;
}

#container {
	margin: 16px;
	padding: 16px;
	font-family:'PT Sans Narrow', sans-serif;
}

#texto-1 {
	color: #595959;
	
}

#texto-2 {
	color: #4C956C;
	
}

hr {
	border-color: #FFC9B9;
	font-family:'PT Sans Narrow', sans-serif;
}


#Menu01 {
	position: sticky;
	position: -webkit-sticky;
	top: 85px;
	margin-left: -32px;
	margin-right: -32px;
	padding: 0;
	font-family:'PT Sans Narrow', sans-serif;
}


#Menu {
	background-color: #4C956C;
	color: #FFFFFF;
	list-style-type: none;
	position: sticky;
	position: -webkit-sticky;
	top: 90px;
	text-align: center;
	margin: 0;
	padding: 0;
	font-family:'PT Sans Narrow', sans-serif;
}

#Menu li {
	display: inline-block;
	width: 160px;
	height: 65px;
	background-color: #4C956C;
	text-align: center;
	position: sticky;
	position: -webkit-sticky;
	top: 30px;
	font-family:'PT Sans Narrow', sans-serif;
	
}

#Menu li a {
	text-decoration: none;
	color: #FFFFFF;
	height: 50px;
	line-height: 50px;
	display: block;
	position: sticky;
	padding: 0;
	margin: 0;
	line-height: 80px;
	transition: all 0.5s;
	font-size: 23px;
	font-family:'PT Sans Narrow', sans-serif;
	
	

}

#Menu li a:hover{
	color: #2C6E49;
	position: sticky;
	font-family:'PT Sans Narrow', sans-serif;
	
}


#Rodape {
	background-color: #F3AC96;
	height: 250px;
	text-align: center;
	color: #DDD;
	font-family:'PT Sans Narrow', sans-serif;
}

#Rodape1 {
	display: inline-block;
	list-style-type: none;
	color: #FFF;
	position: sticky;
	text-decoration: none;
	list-style-type: none;
	font-family:'PT Sans Narrow', sans-serif;
}

#Rodape1 li {
	display: inline-block;
	color: #FFF;
	text-align: center;
	width: 160px;
	height: 65px;
	font-family:'PT Sans Narrow', sans-serif;
	
}

#Rodape1 li a {
	color: #FFF;
	height: 60px;
	line-height: 60px;
	font-family:'PT Sans Narrow', sans-serif;
	font-size: 27px;
	font-family:'PT Sans Narrow', sans-serif;

}

.fotos_mural {
    display:flex;
    background: #FFDACF; 
    align-items: center;

}

.fotos {
	width: 300px;
	background: #FFDACF;
	flex: 1;

}

.fotos img{
	width: 100%;
}

.titulo {
	background: #F3AC96;
	min-width: 500px;
	flex: 500px;
	font-family:'PT Sans Narrow', sans-serif;

}
