.card {
	z-index: 40;
	background-color: #FFDACF;

}


.card-mb-3 {
	margin: 40px;

}

.card-text-0 a {
	color: green;
	text-decoration: none;
	font-family: 'Work Sans', sans-serif;
}


#texto-1 {
	font-family: 'Work Sans', sans-serif;
	font-size : 30px;
}

#texto-2 {
	font-family: 'Work Sans', sans-serif;
	font-size : 30px;

}

body {
	margin: 0;
	padding: 0;
	font-family: 'Work Sans', sans-serif;
}

#barra-superior {
	background-color: #4C956C;
	height: 95px;
	text-align: center;
	position: sticky;
	position: -webkit-sticky;
	top: 0; 
	z-index: 10;


}



img {
	margin: 20px;
	text-align: center;
}

#container {
	margin: 16px;
	padding: 16px;
	font-family: 'Work Sans', sans-serif;
	font-color: rgb(89 , 89 , 89);
}

#texto-1 {
	color: #595959;
	
}

#texto-2 {
	color: #4C956C;
	
}

hr {
	border-color: #FFC9B9;
}


#Menu01 {
	position: sticky;
	position: -webkit-sticky;
	top: 85px;
	margin-left:  -32px;
	margin-right: -32px;
	padding: 0;
}


#Menu {
	background-color: #4C956C;
	color: #FFFFFF;
	list-style-type: none;
	position: sticky;
	position: -webkit-sticky;
	top: 90px;
	text-align: center;
}

#Menu li {
	display: inline-block;
	width: 160px;
	height: 65px;
	background-color: #4C956C;
	text-align: center;
	position: sticky;
	position: -webkit-sticky;
	top: 30px;
	font-family: 'Work Sans', sans-serif;
	font-size: 15px;
	
}

#Menu li a {
	text-decoration: none;
	color: #FFFFFF;
	height: 50px;
	line-height: 50px;
	display: block;
	position: sticky;
	padding: 0;
	margin: 0;
	line-height: 80px;
	transition: all 0.5s;
	font-size: 25px;
	
	

}

#Menu li a:hover{
	color: #2C6E49;
	position: sticky;
	
}


#Rodape {
	background-color: #F3AC96;
	height: 250px;
	text-align: center;
	color: #DDD;
}

#Rodape1 {
	display: inline-block;
	list-style-type: none;
	color: #FFF;
	position: sticky;
	text-decoration: none;
	list-style-type: none;
}

#Rodape1 li {
	display: inline-block;
	color: #FFF;
	text-align: center;
	width: 160px;
	height: 65px;
	
}

#Rodape1 li a {
	color: #FFF;
	height: 100px;
	line-height: 100px;
	font-family: 'Work Sans', sans-serif;
	font-size: 20x;

}

.fotos_mural {
    display:flex;
    background: #FFDACF; 
    align-items: center;
    border-radius: 20px;

}

.fotos {
	width: 300px;
	background: #FFDACF;
	flex: 1;
	border-radius: 20px;

}

.fotos img{
	width: 100%;
}

.titulo {
	background: #F3AC96;
	min-width: 500px;
	flex: 500px;
	border-radius: 10px 20px;
	font-family: 'Work Sans', sans-serif;

}
